
h1{
	font-family: "Arial Black", Gadget, sans-serif;
}

h3{
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #DA81F5;
}

img.card-picture{
	margin-right: auto;
	margin-left: auto;
	width: 100px;
	height: 100px;
	box-shadow: 5px 5px 5px #888888;
	padding: 3px;
}

.container{
	margin-right: auto;
	margin-left: auto;
	width: 350px;
	background-color: #CEF6E3;
	text-align: center;
	border: solid 2px #A9D0F5;
	border-radius: 3px;
}